.App {
  text-align: center;
}
.quesCard {
  width: 100%;
  margin: 10% 0;
}
.answerWrap {
  width: 48%;
  padding: 1%;
  margin: 1%;
  border-radius: 25px;
}
.noPadding {
  padding: 0%;
}
.spanOption {
  float: left;
  margin-left: 2rem;
}
.bg-green {
  background-color: rgb(96, 219, 96);
}
.bg-red {
  background-color: rgb(245, 40, 40);
}
